# folders to ignore
catalogs/
output/
figures/
paper/blank_template/
.DS_Store
# ignore patterns
misc/
!misc/*.py
synthetics/salvus/
synthetics/specfem/*
!synthetics/specfem/input/
synthetics/specfem/input/*/

!synthetics/specfem/*.py
